*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: #303030;
    color: antiquewhite;
    padding: 5px;
    display: grid;
    text-align: center;
}

main{
    padding: 30px 50px;
}

.card{
    background-color: aliceblue;
    border: 10px solid #303030;
    border-radius: 10px;
    padding: 20px;
    margin-top: 15px;
}

.inputpd{
    display: grid;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 20%;
    font-weight: bold;
}

.input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button{
    border: 0;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    color: aliceblue;
    background-color: #303030;
    font-weight: bold;
    transition: all ease 0.3s;
    cursor: pointer;
}

button:hover{
    background-color: black;
}

.conteudo{
    margin-top: 15px;
}

table{
    border-collapse: collapse;
    width: 100%;
    border: #ccc;
}

table th{
    background-color: #303030;
    color: aliceblue;
    padding: 1px;
}

table td{
    padding: 1px;
}

table td img{
    width: 25px;
    cursor: pointer;
}